body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
header{
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a{
  text-decoration: none;
}
.a_inicio{
  text-decoration: none;
  border: 1px solid orange;
  border-radius: 20px;
  border-width: 2px;
  font-size:20px ;
  padding: 10px 15px;
 
  color: rgb(0, 0, 0);
  
}
.a_inicio:hover{
  background-color: orange;
  color: black;
}
.h1_login{
  border-bottom: 5px;
  text-decoration: underline;
  text-decoration-color:rgb(249, 125, 0) ;
  margin-bottom: 25px;
}
input[type="email"], input[type="password"], input[type="text"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin: 25px auto;/*20px para el espacio de arriba hacia abajo entre los input   y  auto para colocarlos en el centro */

}
input[type="tel"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin: 25px auto;
}

input[type="submit"]{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border:1px solid rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 45px;
}
input[type="submit"]:hover{
  background-color: rgb(222, 123, 24);
  color: black;
}